<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com._520it.crm.domain.Department" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <association property="manager" javaType="com._520it.crm.domain.Employee">
    </association>
    <association property="parent" javaType="com._520it.crm.domain.Department">
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from department
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com._520it.crm.domain.Department" useGeneratedKeys="true" keyProperty="id" >
    insert into department (sn, name, manager_id, parent_id, status)
    values (#{sn,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{managerId,jdbcType=BIGINT}, 
      #{parentId,jdbcType=BIGINT}, #{status,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com._520it.crm.domain.Department" >
    update department
    set sn = #{sn,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      manager_id = #{managerId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      status = #{status,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, sn, name, manager_id, parent_id, status
    from department
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select d.id, d.sn, d.name, d.manager_id, d.parent_id, d.status,e.id,e.relname
    from department d,employee e
  </select>
  <select id="selectAllList" resultMap="BaseResultMap">
  		select d.id, d.sn, d.name, d.status,
  		e.id as e_id,e.relname as e_relname  from department d left join employee e on (e.dept_id=d.id)
  </select>
  <select id="queryForDept" resultType="com._520it.crm.domain.Department">
  	select id,name from department
  </select>
</mapper>